
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}
/* shred class  */
body{
  margin: 0;
  padding: 0;
 
}

main>section{
  padding: 130px 0;
}

.displayFlex{
   display: flex;
}
.gray-color{
  color: #383333;
}
.bg-light{
    background: #bbc594;
}

/* header class  */
.navbar{
   justify-content: space-between;
   align-items: center;  
}
main{
  max-width: 1440px;
  margin: 0 auto;
}
.brand{
  font-weight: bold;
  font-size: 2rem;
}

.item-list{
    margin-right: 30px;
    list-style: none;
}
.item{
   text-decoration: none;
}
.nav .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* banner style  */
.banner-container{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}
.banner-title{
  font-weight: bold;
  font-size: 4rem;
}
.banner-subtitle{
  max-width: 950px;
  font-size: 1.2rem;
}
.btn-primary{
  background: #c5a215;
  border: none;
  padding: 15px;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
}
.btn-primary:hover{
  background: #89700d;
}
.banner-img {
  display: block;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  padding: 40px;
}
/* section part design  */

.image{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  
}

.feature-title{
  font-weight: bold;
  font-size: 65px;
  padding: 10px 35px;
}
.feature-description{
  font-size: 20px;
  max-width: 550px;
  padding: 0px 25px;
}
.btn-primary{
  display: block;
  margin: 0px 25px;
}




















@media screen and (max-width: 576px) {
@media screen and (max-width: 576px) {
  
  nav {
    flex-direction: column;
    text-align: center;
  }

  .banner {
    flex-direction: column;
  }

  .banner-title {
    font-size: 2rem;
  }

  .banner-img {
    width: 100%;
    padding: 10px;
  }
  .image{
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }

}
 
  
}